#tag {
  color: #3838ef;
  padding: 5px 10px;
  text-align: center;
  font-size: 0.8rem;
  background: #f4f7fd;
  border-radius: 4px;
  height: fit-content;
  margin-right: 5px;
  font-family: 'Atomic Age', sans-serif;
}

#tag:hover {
  background: #e2e8f5;
  cursor: pointer;
}
