.outer_container {
  background: #e8edf1;
  height: 100%;
  margin: 0rem 2rem 2rem 1.5rem;
  border-radius: 5px;
  padding: 1rem;
  overflow: hidden;

  position: relative;
  top: 100px;
}

.container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.search_container {
  margin-bottom: 1rem;
}

@media (max-width: 700px) {
  .outer_container {
    margin: 0;
  }
}
