button {
  padding: 10px 40px;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  outline: none;
  cursor: pointer;
}

.btn-success-solid {
  background: #45cc89;
  color: #fff;
}

.btn-success-outline {
  border: 1px solid #45cc89;
  color: #45cc89;
  background: none;
  transition: all linear 0.2s;
}
.btn-success-outline:hover {
  border: none;
  background: #45cc89;
  color: #fff;
  transition: all linear 0.2s;
}

.btn-danger-solid {
  background: #d64242;
  color: #fff;
  margin: auto;
}
.btn-danger-outline {
  border: 2px solid #d64242;
  color: #d64242;
}

@media only screen and (max-width: 700px) {
  button {
    padding: 10px;
  }
}
