button {
  padding: 10px 40px;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}

.btn-success-solid {
  background: #12aa52;
  color: #fff;
}

.btn-success-outline {
  border: 1px solid #12aa52;
  color: #12aa52;
  transition: all linear 0.2s;
}
.btn-success-outline:hover {
  border: none;
  background: #12aa52;
  color: #fff;
  border: 2px solid #12aa52;
  transition: all linear 0.2s;
}

.btn-danger-solid {
  background: #d64242;
  color: #fff;
}
.btn-danger-outline {
  border: 2px solid #d64242;
  color: #d64242;
}
