.container {
  width: 100%;
  background-color: #fff;
  text-align: left;
  display: flex;
  border-radius: 5px;
  /* padding: 10px 3px; */
  margin: 1rem 0;
  transition: ease-in-out 0.2s;
  border: 1px solid #fff;
}
.container:hover {
  /* transform: scale(0.9); */
  background: #d3f1e5;
}

.container:hover .link {
  /* transform: scale(0.9); */
  color: #fff;
}

.container:hover .social {
  /* transform: scale(0.9); */
  border: 1px solid #fff;
}

.image {
  width: 100px;
  height: 100px;
  margin: 15px;
}

.mentor_image {
  width: 100%;
  height: 100%;
}
.mentor_avatar {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  margin-top: 1rem;
}

.content {
  flex: 1;
  display: flex;
  margin: auto;
  margin-right: 1rem;
  font-family: 'Atomic Age', sans-serif;
}

.details {
  flex: 1;
  margin-left: 1rem;
}

.name {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
  font-family: 'Poppins', sans-serif;
}

.location_div {
  margin-left: 2rem;
}

.bio,
.location {
  font-weight: 100;
  margin: 5px 0;
  font-size: 14px;
  font-family: 'Monda', sans-serif;
}

.email {
  font-weight: 600;
  font-size: 13px;
  margin: 5px 0px 5px 0px;
}

.skills {
  display: flex;
  margin: 15px 0 10px 0;
}

.social_buttons {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.link {
  color: #38bc8a;
  transition: ease-in-out 0.2s;
  font-size: 25px;
  margin-right: 5px;
}

.link:hover {
  transform: scale(1.3);
}

.social {
  background: #fff;
  text-align: center;
  color: #38bc8a;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  margin-top: 2rem;
  border: 1px solid #38bc8a;
  font-weight: 800;
  transition: ease-in-out 0.2s;
}

.social:hover {
  transform: scale(1.1);
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.link {
  margin-left: 5px;
}

.group_element {
  display: flex;
}
