.profStats {
  display: flex;
  margin: 1rem;
}
.profStats p {
  padding: 0;
  margin: 0 7px 0 0;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.profStats p span {
  font-weight: 700;
  color: #969ea0;
  font-size: 12px;
}
