.container {
  position: sticky;
  /* background-color: #fff; */
  /* overflow-x: hidden; */
}
.navHeader {
  padding-right: 2rem;
  font-family: 'Monda', sans-serif;
  background-color: white;
  margin-top: 0;
  padding: 1rem;
  padding-top: 0;
  color: #38bc8a;
}
.header {
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  text-transform: capitalize;
  text-align: center;
}

.headerTitle > h2 {
  color: #38bc8a;
}

.headerTitle > h2 {
  font-size: 2rem;
}

.otherNav {
  display: flex;
  text-align: center;
  padding-right: 2rem;
  font-weight: 800;
}

.otherNav p {
  font-size: 2rem;
  margin-top: 0.5rem;
}

.welcome {
  font-style: italic;
  font-size: 1rem;
}

.bell_icon {
  font-size: 1.7rem;
  color: inherit;
  margin-top: 1.5rem;
  margin-right: 0.8rem;
}

.user_icon {
  font-size: 2.5rem;
  color: inherit;
  border-radius: 50%;
  margin-right: 1rem;
}

.profile_avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
}

.drop_down_icon {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.toggle {
  margin-right: 11rem;
  display: flex;
  position: relative;
}

.drop_down {
  font-size: 1rem;
  padding-top: 1.5rem;
  color: initial;
}

@media (max-width: 850px) {
  .navHeader {
    margin-left: 7rem;
  }

  .toggle {
    display: none;
  }
  .otherNav {
    padding-right: 0rem;
  }
  .otherNav > p {
    margin-top: 0rem;
  }
}

@media (max-width: 1450) {
  .toggle {
    margin-right: 10rem;
  }
}

@media (max-width: 800px) {
  .container {
    width: 100vw;
    background: #fff;
  }
}

@media (max-width: 420px) {
  .headerTitle > h2 {
    font-size: 1.2rem;
  }
  .user_icon {
    display: none;
  }
  .header {
    flex: 1;
  }
  .bell_icon {
    margin-top: 1rem;
    margin-right: 0rem;
  }
}
