#inputField {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
}
#inputField input,
#inputField label {
  width: 100%;
}
#inputField label {
  margin-left: -17px;
}
#inputField input {
  font-size: 1rem;
}
#inputField input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  color: rgb(85, 85, 85);
  font-weight: 500;
  outline: none;
  transition: all linear 0.3s;
}
#inputField input:focus {
  border-bottom: 2px solid #34a853 !important;
  transition: all linear 0.3s;
}
#inputField label {
  color: #717171;
  font-size: 0.9rem;
}
