.user-dash-body {
  background: #f4f6fc;
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 100%;
  width: 100%;
}
nav.user-dash-header {
  z-index: 999999999999;
}
nav.user-dash-header {
  background: #fff;
  border-right: 1px solid #eef0f5;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);
  height: 70px;
  position: fixed;
  width: 100%;
}
.user-dash-header-head {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.user-dash-header-head img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

ul.user-admin-nav-menu-item {
  width: 100%;
}
ul.user-admin-nav-menu-item li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #5d5b6f;
  font-weight: 300;
  font-size: 0.8rem;
  padding: 10px 20px 10px 26px;
  transition: 0.1s;
  cursor: pointer;
}
ul.user-admin-nav-menu-item li:hover {
  color: #0bdaac !important;
  transition: 0.1s;
}
ul.user-admin-nav-menu-item li img {
  margin-right: 5px;
  padding-top: 3px;
  width: 1.2rem;
  height: 1.2rem;
}
.user-admin-nav-menu-item h5 {
  color: #9e95c3;
  font-size: 0.73rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin: 20px 0 0 0;
  height: 20px;
  display: flex;
  padding: 0 30px;
}
.user-dash-header-menu {
  background: #fff;
  position: fixed;
  height: 100%;
  width: 70%;
  box-shadow: 14px 0 14px -14px rgba(0, 0, 0, 0.05);
}
.user-dash-content-header {
  width: 100%;
  height: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eef0f5;
  padding: 30px 20px;
}
.user-dash-contact-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 10px 20px;
  border-radius: 30px;
  margin-left: auto;
  width: 20%;
}
.user-dash-contact-toggle span {
  color: #5d5b6f;
  font-size: 0.8rem;
  font-weight: 500;
  margin-left: 5px;
}

.user-dash-content-header img {
  width: 20px;
  height: 20px;
  transform: rotateY(180deg);
}
.user-dash-content-display {
  display: flex;
  width: 100%;
  position: relative;
}
.user-dash-content-display {
  min-height: 100%;
  height: fit-content;
  width: 100%;
}
.user-dash-contact-list {
  width: 20%;
  position: fixed;
  height: 100%;
  background: #fff;
  right: -20%;
  border-left: 1px solid #eef0f5;
  padding: 10px 0;
}
.user-dash-content-content {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.user-single-card {
  background: #fff;
  flex: 0 0 24%;
  max-height: 350px;
  min-height: 350px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #eef0f5;
  margin-right: 1%;
  margin-bottom: 1%;
}
.user-dash-contact-list .user-dash-single-contact {
  width: 90%;
  margin: auto;
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eef0f5;
}

.user-dash-contact-list .user-dash-single-contact img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.single-user-detail {
  margin-left: 5px;
  width: 100%;
}
.single-user-detail p {
  color: #5d5b6f;
  font-size: 0.8rem;
  font-weight: 500;
}
p.single-user-detail-email,
p.single-user-detail-schedule {
  font-weight: 300;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
}
p.single-user-detail-email img,
p.single-user-detail-schedule img {
  width: 15px !important;
  height: 15px !important;
}
p.single-user-detail-name {
  position: relative;
  width: 100%;
}
p.single-user-detail-name i {
  position: absolute;
  right: 0;
  font-size: 1rem;
}

.user-single-card-image {
  height: 140px;
  width: 100%;
  position: relative;
}
.user-single-card-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}
.user-single-card-content {
  padding: 10px;
}

.user-single-card-content p {
  padding: 20px 10px 5px 10px;
  color: #5d5b6f;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}
.user-dash-content {
  margin-top: 70px;
}
p.user-single-card-content-p {
  padding: 0 10px 10px 10px;
  text-transform: none;
  font-size: 0.8rem;
  font-weight: 400;
}

.user-filter-area {
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  display: flex;
}
.user-filter-area p {
  padding-top: 10px;
  color: #5d5b6f;
  font-size: 0.8rem;
  display: flex;
}
.user-filter-area p img {
  width: 20px;
  height: 20px;
}
.user-filter-area button {
  padding: 5px 30px;
  font-size: 11px;
  margin-right: 10px;
  background: none;
  border: 2px solid #0bdaac;
  font-weight: 400;
  color: #5d5b6f;
  transition: 0.2s;
  display: flex;
  align-items: center;
}
.user-filter-area button span {
  background: #fff;
  color: #5d5b6f;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  font-size: 0.55rem;
  font-weight: 500;
}
.user-filter-area button:hover {
  color: #fff;
  background: #0bdaac;
  transition: 0.2s;
}
.user-filter-area button.active {
  color: #fff;
  background: #0bdaac;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
p.user-single-card-extra {
  padding: 2px 10px;
  color: #5d5b6f;
  font-size: 0.8rem;
  text-transform: none;
  font-weight: 400;
  display: flex;
  align-items: center;
}
p.user-single-card-extra img {
  width: 15px;
  height: 15px;
}
.user-single-card-stack {
  display: flex;
  padding: 10px;
}
.user-single-card-stack p {
  background: #f4f7fd;
  color: #3838ef;
  font-weight: 400;
  padding: 5px;
  font-size: 0.6rem;
  margin-right: 5px;
  border-radius: 4px;
  border: 1px solid #eef0f5;
}
@media screen and (min-width: 780px) {
  .user-dash-body {
    flex-direction: row;
  }
  .user-dash-content {
    background: #f4f6fc;
    height: 100%;
    margin-left: 20%;
    width: 80%;
    margin-top: 0;
  }
  nav.user-dash-header {
    height: 100%;
    padding: 10px 20px;
    position: fixed;
    width: 20%;
  }
  .user-dash-header-head {
    border-bottom: 1px solid #eef0f5;
    height: 50px;
    padding: 0;
  }
  .user-dash-header-menu {
    position: relative;
    width: 100%;
    box-shadow: none;
  }
  .user-dash-contact-list {
    right: -20%;
  }
  .user-dash-content-content {
    flex-direction: row;
  }
  .user-single-card-image {
    height: 40%;
  }
}
