.emailDiv{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 5rem auto 5rem auto;
    color: #12AA52;
}
.emailDiv img {
    width: 40% ;
    height: 40% ;
    margin: 2rem auto;
  }

.emailDiv h1{
    text-transform: uppercase;
    font-weight: 500;
    margin: 1rem 0px;
}

.emailDiv span {
    color: #2D2D48;
    width: 50%;
}

.emailDiv .resend-link{
    color: #12AA52;
    cursor: pointer;
}

.emailDiv .email{
    color: #12AA52;
}

