#navbar {
  width: 100%;
  background: #fff;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 8px -8px rgba(69, 90, 100, 0.08);
}
#navbar img {
  width: 40px;
  height: 40px;
  margin-left: 50px;
}
#navbar a {
  margin-right: 50px;
  text-decoration: none;
  color: #2d2e48;
}
