th {
  padding: 10px;
  width: 250px;
  height: 45px;
}

td {
  /* color: rgb(121, 119, 119); */
  color: #191923;
}

.icon {
  /* color: rgb(153, 151, 151); */
  border: 0.5px solid #45cc89;
  width: fit-content;
  border-radius: 5px;
  padding: 4px;
  margin-left: 5px;
  background: #45cc89;
}

.icon:hover {
  color: white;
  cursor: pointer;
}

table {
  text-align: left;
  background: white;
  border-collapse: collapse;
  /* border: 1px solid #ddd; */
  width: 100%;
  font-size: 0.8rem;
}
thead {
  padding: 24px;
  color: #1e1e2b;
  font-size: 0.8rem;
  font-size: 14px;
}

th,
td {
  border-bottom: 1px solid #edf2f6 !important;
}
tr {
  padding: 6px !important;
}
tr:last-child {
  border-bottom: none;
}
