.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.3s;
}
.switch:hover {
  cursor: pointer;
}
.switch::after {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 18px;
  background-color: rgb(85, 85, 85);
  top: 4px;
  left: 4px;
  transition: all 0.3s;
}
input[type='checkbox']:checked + .switch::after {
  transform: translateX(30px);
}
input[type='checkbox']:checked + .switch {
  background-color: #38bc8a;
}
.offscreen {
  position: absolute;
  left: -9999px;
}

/* color: '#38bc8a' */
