body {
  /* background: #edf2f6; */
  background: #fff;
}

.verify-page {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
.verify-page-img {
  width: 100%;
  text-align: center;
}
.verify-page-img img {
  width: 90%;
}
.msgPipes {
  color: #ccc;
}
/* About Pagre*/
.main-about-nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
}
.main-about-nav-buttons button {
  margin: 0 5px;
  padding: 10px 20px;
}

.main-about-card {
  width: 100%;
  padding: 10px 25px;
}
.main-about-card p button {
  margin: 10px 0;
  padding: 10px 15px;
}
.main-about-card h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 auto 20px auto;
  line-height: 45px;
}
.main-about-card h1 span {
  background: #45cc89;
  border-radius: 4px;
  color: #fff;
  padding: 0 10px;
}
.main-about-card p {
  color: #51585e;
  line-height: 29px;
  font-weight: 700;
  padding: 0 0 20px 0;
  font-family: 'Poppins', Arial, sans-serif;
}
.main-about-card-img {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}
.main-about-card-img img {
  width: 70%;
}
.main-about-footer {
  width: 100%;
  background: #fff;
  padding: 30px 20px;
  font-size: 0.8rem;
  font-weight: bold;
}
.main-about-card p span {
  padding: 10px;
  width: 100px;
  background: #fff;
  border-radius: 4px;
  margin: 10px 5px 0 0;
}
.main-about-card p span i {
  color: #45cc89;
  font-size: 0.8rem;
}
.main-about-sm-card-area {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main-about-sm-card {
  width: 100%;
  height: fit-content;
  margin: 10px auto;
  background: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.main-about-sm-card i {
  color: #51585e;
  /* color: #45cc89; */
  font-size: 3rem;
}
.main-about-sm-card p a {
  color: #45cc89;
  text-decoration: underline;
  cursor: pointer;
}
/*
===============
Dashboard
===============
*/
.new-dash-nav {
  width: 100%;
  height: 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  background: #fff;
  z-index: 9;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-dash-nav form {
  display: none;
}
.new-dash-body {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background: #edf2f6;
  margin: 70px auto 0 auto;
}
.new-dash-search {
  width: 100%;
  height: 50px;
  margin: 0 auto 30px auto;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  border-radius: 4px;
  border: 1px solid #e6ecf5;
  background: #fff;
}
.new-dash-search form {
  width: 100%;
  height: 47.5px;
  display: flex;
  justify-content: space-between;
}
.new-dash-search input {
  padding: 0 10px;
  height: 100%;
  width: 85%;
  font-size: 0.8rem;
  outline: none;
  border: none;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
}
.new-dash-search button {
  width: 15%;
  height: 100%;
  background: no-repeat;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 10px;
}
.new-dash-user-profile {
  width: 100%;
  min-height: 300px;
  height: fit-content;
  border: 1px solid #e6ecf5;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #fff;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  margin: 10px 0;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.new-dash-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  background: #fff;
}
.new-dash-card-header i {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  color: #c0c4d8;
}
.new-dash-card-header img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #e6ecf5;
  margin: 10px auto 20px auto;
}
p.new-dash-username {
  color: #515365;
  font-weight: 500;
}
p.new-dash-user-description {
  font-size: 14px;
  color: #898da9;
  padding: 10px;
}
.new-dash-profile-img {
  width: 80px;
  height: 80px;
  border: 1px solid #e6ecf5;
  border-radius: 50%;
}

p.new-dash-account-brief {
  padding: 15px 0 5px 0;
}
p.new-dash-account-brief span i {
  font-size: 12px;
  font-style: normal;
  color: #898da9;
  font-weight: 500;
}
.new-dash-user-tags {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
.new-dash-user-tags #tag {
  font-family: 'Poppins', sans-serif;
}
a.new-dash-profile-link {
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  margin: 5px auto;
  transition: all linear 0.2s;
  background: #45cc89;
}
a.new-dash-profile-link:hover {
  padding: 5px;
  transition: all linear 0.2s;
}
h1.new-dash-section-title {
  margin: 20px 0;
  border: 1px solid #e6ecf5;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
}
h1.new-dash-section-title i {
  color: #45cc89;
  font-size: 1.5rem;
}
p.new-dash-user-mentor-sch {
  margin: 10px auto;
  width: 100%;
}
a.schedule-list-items:hover {
  opacity: 0.6;
}
p.new-dash-user-mentor-sch span {
  color: #000;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.8rem;
  border-bottom: 1px solid #e6ecf5;
  display: block;
}
i.lg-green-ic {
  color: #45cc89;
}
.new-dash-contact {
  background: #fff;
  padding: 10px 20px;
  height: fit-content;
  max-height: 500px;
  overflow-y: scroll;
}
.new-dash-single-contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e6ecf5;
}

.new-dash-single-contact-container img {
  width: 50px;
  height: 50px;
  border: 1px solid #e6ecf5;
  border-radius: 50%;
  margin-right: 15px;
}

.new-dash-single-contact {
  padding: 10px 0;
  border-bottom: 1px solid #e6ecf5;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: -webkit-fill-available;
}
.new-dash-single-contact p {
  position: relative;
  width: 100%;
}
.new-dash-single-contact p i {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.new-dash-single-contact p i div {
  width: 100px;
  height: fit-content;
  min-height: 20px;
  padding: 10px;
  background: #fff;
  border: 1px solid #e6ecf5;
  border-radius: 4px;
  position: absolute;
  font-size: 0.63rem;
  font-style: normal;
  text-align: center;
  color: #f34e4e;
  cursor: pointer;
  top: 30px;
  right: 15%;
  display: none;
  transition: all linear 0.2s;
}
p.contact-deleted {
  font-size: 0.8rem;
  color: #45cc89;
}
.unhide {
  display: block !important;
  transition: all linear 0.2s;
}
.new-dash-single-contact p i div::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #edf2f6;
  top: -10px;
  right: 2px;
  position: absolute;
}
.new-dash-single-contact p i div i {
  position: relative;
  font-size: 1rem;
}

.new-dash-single-contact .schedule {
  color: #45cc89;
  font-weight: 500;
}

.new-dash-single-contact:last-child {
  border-bottom: none;
}

.new-dash-single-contact p span {
  color: #898da9;
  font-size: 0.8rem;
}

a.new-dash-schedule-link {
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  margin: 5px auto;
  transition: all linear 0.2s;
  background: #45cc89;
}
a.new-dash-schedule-link:hover {
  padding: 5px;
  transition: 0.2s;
}
.new-dash-menu-toggler {
  margin: 1em;
  margin-left: 0;
  width: 23px;
}
.new-dash-menu-toggler::before,
.new-dash-menu-toggler::after,
.new-dash-menu-toggler div {
  background: #16075d;
  border-radius: 3px;
  content: '';
  display: block;
  height: 1px;
  margin: 5px 0;
  transition: all 0.2s ease-in-out;
}
.new-dash-menu-toggler.cross-bar::before {
  transform: translateY(6px) rotate(135deg);
}
.new-dash-menu-toggler.cross-bar::after {
  transform: translateY(-6px) rotate(-135deg);
}
a.new-dash-nav-logo {
  color: #000;
  font-size: 1.3rem;
}
a.new-dash-nav-logo span {
  background: #45cc89;
  padding: 0 5px;
  color: #fff;
  border-radius: 4px;
}
ul.new-dash-menu {
  position: fixed;
  background: #fff;
  left: -80%;
  top: 70px;
  min-height: 100vh;
  height: fit-content;
  z-index: 1;
  width: 80%;
  padding: 20px 0 20px 50px;
  border-right: 1px solid #e6ecf5;
  border-top: 1px solid #e6ecf5;
  transition: all linear 0.2s;
}
.show-side-nav {
  left: 0 !important;
  transition: all linear 0.2s;
}
ul.new-dash-menu a {
  color: #000;
}
ul.new-dash-menu li {
  padding: 15px 0;
  font-size: 0.9rem;
}
.new-textarea {
  width: 100%;
  border: none;
  border: 1px solid #e6ecf5;
  outline: none;
  font-size: 0.8rem;
}
.new-textarea:focus {
  border-bottom: 1px solid #45cc89 !important;
}
.btn-success-solid {
  margin: auto;
}
.single-mentee-request {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #515365;
  border: 1px solid #e6ecf5;
  border-radius: 4px;
}
.single-mentee-request p {
  border-bottom: 1px solid #e6ecf5;
  padding: 10px 0;
  margin: 5px 0;
}
.single-mentee-request p span {
  font-weight: 700;
}
p.request-tags {
  display: flex;
  overflow-x: scroll;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border: none;
}
p.request-pending {
  background: #dc4848;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  border: none;
}
.mentee-request a {
  color: #dc4848;
  font-size: 2rem;
  padding: 5px 10px;
}
/* 
===============
Desktop
===============
*/
@media screen and (min-width: 780px) {
  .verify-page {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .verify-page-img {
    width: 100%;
    text-align: center;
  }
  .verify-page-img img {
    width: 30%;
  }
  /*About Page*/
  .main-about-nav {
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin: auto;
    border-bottom: 1px solid #f1f1f1;
  }
  .main-about-nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-about-nav-logo p {
    font-weight: 700;
    font-size: 2rem;
    padding-left: 10px;
  }
  .main-about-nav-buttons button {
    margin: 0 5px;
    padding: 10px 20px;
  }

  .main-about-card {
    width: 100%;
    padding: 10px 25px;
    display: flex;
  }
  .main-about-side-content {
    padding: 50px 0 0 120px;
    margin: 10px 0 30px 0;
  }
  .main-about-card p button {
    margin: 10px 0;
    padding: 10px 15px;
  }
  .main-about-card h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto 20px auto;
    line-height: 55px;
  }
  .main-about-card h1 span {
    background: #45cc89;
    border-radius: 4px;
    color: #fff;
    padding: 0 10px;
  }
  h1.about-main-h1 {
    padding-left: 120px;
  }
  .main-about-card p {
    color: #51585e;
    line-height: 29px;
    font-weight: 500;
    padding: 0 0 20px 0;
    font-family: 'Poppins', Arial, sans-serif;
  }
  .main-about-card-img {
    width: 100%;
    text-align: center;
    margin: 20px auto;
  }
  .main-about-card-img img {
    width: 50%;
  }
  .main-about-footer {
    width: 100%;
    background: #fff;
    padding: 30px 20px;
    font-size: 0.8rem;
    text-align: center;
    font-weight: bold;
  }
  span.about-devices {
    padding: 10px;
    width: 150px;
    height: fit-content;
    background: #45cc89;
    color: #fff;
    border-radius: 4px;
    margin: 10px 5px 0 0;
  }
  .main-about-card p span i {
    color: #45cc89;
    font-size: 0.8rem;
  }
  .main-about-sm-card-area {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .main-about-sm-card {
    width: 90%;
    height: fit-content;
    min-height: 300px;
    margin: 10px;
    background: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .main-about-sm-card i {
    color: #51585e;
    /* color: #45cc89; */
    font-size: 3rem;
  }
  .main-about-sm-card p a {
    color: #45cc89;
    text-decoration: underline;
    cursor: pointer;
  }
  /*
  Dashboard
  */
  .new-dash-body {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 20px;
    background: #edf2f6;
    margin: 70px auto 0 auto;
  }
  .new-dash-left {
    flex: 0 0 20%;
  }
  .new-dash-mentor-list {
    flex: 0 0 50%;
  }
  .new-recent-mentor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  h1.new-dash-section-title {
    margin: 0 auto 10px auto;
  }
  .new-recent-mentor-list .new-dash-user-profile {
    width: 48%;
    /* margin-right: 1.5%; */
  }
  a.new-dash-schedule-link {
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    margin: 5px auto;
    transition: all linear 0.2s;
    background: #45cc89;
  }
  a.new-dash-schedule-link:hover {
    padding: 5px;
    transition: 0.2s;
  }
  .new-dash-user-profile {
    transition: 0.2s;
  }
  .new-dash-user-profile:hover {
    transition: 0.2s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
  }
  ul.new-dash-menu {
    position: relative;
    background: none;
    left: 0;
    top: 0;
    min-height: 0;
    height: fit-content;
    z-index: 1;
    width: auto;
    padding: 0;
    border: none;
    margin-left: 10px;
  }
  ul.new-dash-menu a {
    color: #000;
    padding: 20px 10px;
  }
  ul.new-dash-menu li {
    padding: 20px 10px;
    font-size: 0.8rem;
    display: inline-block;
    transition: 0.2s;
  }
  ul.new-dash-menu a:hover {
    border-bottom: 2px solid #45cc89;
    transition: 0.2s;
  }
  .new-dash-menu-active {
    border-bottom: 2px solid #45cc89;
    color: #45cc89;
    transition: 0.2s;
  }
  .new-dash-nav form {
    width: auto;
    border: 1px solid #e6ecf5;
    border-radius: 4px;
    margin: 0 20px;
    width: 40%;
    display: block;
  }
  .new-dash-nav form input {
    padding: 10px;
    width: 85%;
    font-size: 0.8rem;
    border: none;
    outline: none;
  }
  .new-dash-nav form button {
    width: 15%;
  }
  .new-dash-search {
    display: none;
  }
  .new-half-input {
    display: flex;
    justify-content: space-between;
  }
  .new-half-input #inputField {
    width: 48%;
  }
  .new-input-set {
    padding: 20px;
    border: 1px solid #e6ecf5;
    border-radius: 4px;
  }
  .new-form-label {
    color: #717171;
    font-size: 0.8rem;
    margin-top: 20px;
  }
  .new-edit-form-toggle {
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
  .new-edit-form-toggle span {
    margin-top: 3px;
    margin-right: 5px;
  }
  .new-dash-right {
    flex: 0 0 20%;
  }
  .single-mentee-request {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #515365;
    border: 1px solid #e6ecf5;
    border-radius: 4px;
  }
  .single-mentee-request p {
    border-right: 1px solid #e6ecf5;
    border-bottom: none;
  }
  p.request-tags {
    display: flex;
    max-width: 25%;
    overflow-x: scroll;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border: none;
  }
  p.request-pending {
    background: #dc4848;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    border: none;
    border: 1px solid #e6ecf5;
    border-radius: 4px;
  }
  .mentee-request a {
    color: #dc4848;
    font-size: 1.4rem;
    padding: 5px 10px;
  }
}
@media screen and (min-width: 823px) and (max-width: 1000px) {
  .new-dash-body {
    display: flex;
    flex-direction: column;
  }
}

.conditional-buttons {
  display: 'inline-flex';
}

.button0 {
  margin-right: 1em !important;
}

.button1 {
  background: rgb(243, 78, 78) !important;
}

.center-element {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
