.container {
  background: #e8edf1;
  height: 94%;
  margin: 0rem 2rem 2rem 1.5rem;
  border-radius: 5px;
  padding: 1rem;
}

.search_container {
  margin-bottom: 1rem;
}
.profile_container {
  /* margin-bottom: 1rem; */
}
.mentors_container {
  /* margin-bottom: 1rem; */
}
